<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fivecontacts">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_fivecontacts"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fivecontacts_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activities.AlterarUsuario" android:screenOrientation="portrait"></activity>
        <activity android:name=".main.activities.NovoUsuario" android:screenOrientation="portrait" />
        <activity android:name=".main.activities.Pick_Contacts" android:screenOrientation="portrait" />
        <activity android:name=".main.activities.ListaDeContatos_ListView" android:screenOrientation="portrait"></activity>
        <activity android:name=".main.activities.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>